.a-input {
  $root: &;
  position: relative;
  z-index: 9;
  &__input {
    height: 55px;
    width: 400px;
    border: 2px solid #ffa8ba;
    border-radius: 60px;
    padding: 0 30px;
    box-shadow: 10px 10px 10px #eec8d0;
    font-size: 20px;
    color: #5e1352;
    position: relative;
    &:focus {
      outline: none;
    }
    &:focus ~ label {
      font-size: 10px;
      top: 10px;
      left: 20px;
      letter-spacing: 2px;
    }
  }
  &__label {
    position: absolute;
    z-index: inherit;
    left: 30px;
    top: 50%;
    color: rgb(88, 43, 50);
    transform: translate(0, -50%);
    transition: all 0.5s;
    letter-spacing: 8px;
    text-transform: uppercase;
  }
  &--has-input {
    #{$root}__label {
      font-size: 10px;
      top: 10px;
      left: 20px;
      letter-spacing: 2px;
    }
  }
}
